<h1>Place a new Ice Cream order</h1>



<%= form_for :orders, url: orders_path do |f| %>
  <p>
  </p>


<%= link_to 'Orders', controller: 'orders' %>
<%= link_to 'Flavors', controller: 'flavors' %>
<%= link_to 'Toppings', controller: 'toppings' %>
<%= link_to 'Containments', controller: 'containments' %>

  <%= simple_form_for @order do |f| %>

  <%= f.button :submit %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<form action="submit.asp" method="post">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  Address: <input type="text_area" name="address"><br>
  Phone: <input type="text_area" name="phone"><br>
  Email: <input type="text_area" name="email"><br>


  Cone: <input type="checkbox" name="email"><br>
  Bowl: <input type="checkbox" name="email"><br>
  Flavor: <input type="text_area" name="email"><br>
  Toppings: <input type="text_area" name="email"><br>



  <input type="submit" value="Submit">
</form>
   <p>

  </p>


