<h1>Place a new Ice Cream order</h1>



<p>
</p>

<%= link_to 'Flavors', controller: 'flavors' %>
<%= link_to 'Toppings', controller: 'toppings' %>
<%= link_to 'Containments', controller: 'containments' %>



<%= form_for @order do |f| %>
Your info:
<ul>
  <%= f.fields_for :customer do |customer| %>
  <li>
    <%= customer.label :name %>
    <%= customer.text_field :name %>

    <%= customer.label :address %>
    <%= customer.text_field :address %>

    <%= customer.label :phone %>
    <%= customer.text_field :phone %>

    <%= customer.label :email %>
    <%= customer.text_field :email %>
  </li>
  <% end %>
</ul>
Flavors:
<ul>
  <%= f.fields_for :flavors do |flavor_form| %>
  <li>
    <%= flavor_form.label :name, "Pick your flavor" %>
    <%= flavor_form.collection_select :order_id, Flavor.all, :id, :name %>
  </li>
  <% end %>
</ul>
<!-- Toppings:
<ul>
  <%= f.fields_for :toppings do |topping_form| %>
  <li>
    <%= topping_form.label :name, "Pick your topping" %>
    <%= topping_form.collection_select :order_id, Topping.all, :id, :name %>
  </li>
  <% end %>
</ul>
Containments:
<ul>
  <%= f.fields_for :containments do |containment_form| %>
  <li>
    <%= containment_form.label :name, "Pick your containment" %>
    <%= containment_form.collection_select :order_id, Containment.all, :id, :name %>
  </li>
  <% end %> -->


</ul>
<%= f.submit %>
<% end %>

