<h1>Place a new Ice Cream order</h1>


<h1>All Configurable Options::::</h1>




<p>
</p>


<%= link_to 'Orders', controller: 'orders' %>
<%= link_to 'Flavors', controller: 'flavors' %>
<%= link_to 'Toppings', controller: 'toppings' %>
<%= link_to 'Containments', controller: 'containments' %>





<%= form_for @order do |f| %>
Your info:
<ul>
  <%= f.fields_for :customer do |customer_form| %>
  <li>
    <%= customer_form.label :name %>
    <%= customer_form.text_field :name %>

    <%= customer_form.label :address %>
    <%= customer_form.text_field :address %>

    <%= customer_form.label :phone %>
    <%= customer_form.text_field :phone %>

    <%= customer_form.label :email %>
    <%= customer_form.text_field :email %>
  </li>
  <% end %>
  </ul>
  Flavors:
<ul>
  <%= f.fields_for :flavor do |flavor_form| %>

  <li>
    <%= flavor_form.label :name, "Pick your flavor" %>
    <%= flavor_form.collection_select :order_id, Flavor.all,:id,:name %>
    <%= flavor_form.select :flavor, Flavor.all.map { |c| [c.name, c.id] }%>
  </li>
  <% end %>


</ul>
<%= f.submit %>
<% end %>

